body {
    background: none repeat scroll 0 0 white;
}

ul, li {
    list-style: none;
}

img {
    border: medium none;
}

a {
    rgb(74,135,140);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#page
{
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	/*border: 1px solid #C9E0ED;*/
}

#header
{
	background: url(../image/logo.jpg) no-repeat;
	margin: 0;
	padding: 0;
	height: 95px;
	/*border-top: 3px solid #C9E0ED;*/
}

.container {
	width: 860px; margin:20px auto 0;
}
.container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.container {display:block;}

.menu {
	height:30px; 
	overflow: hidden; 
	padding: 0 20px 0 0;
	background:url(../image/menu.jpg) no-repeat; 	
	border-color: #6B9F11 #54850A #386601;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px 4px 4px 4px;
}

/*2012-01-14 minzhenyu 400px-->450px*/
.menu .menu_link {
	height: 30px;
	width: 450px;
	margin: 0,20px auto;
	float: right;
}

/*2012-01-14 minzhenyu 380px-->340px*/
.menu .menu_welcome {
	height: 30px;
	width: 340px;
	margin-left:20px;
	margin-top:7px;
	float: left;
}

/*2012-01-14 minzhenyu 350px-->390px*/
.menu ul {
	float:right;
	font-weight:bold;
	list-style:none;
	margin: 0; 
	padding: 0;
	/*width: 390px;*/
}

.menu ul li {float:right;display:block;margin:0 10px; line-height:30px }    
.menu ul li a:link,#menu ul li a:visited {font-weight:bold; font-size: 12px; color:#274571}

.menu ul li a:hover{}
.menuDiv {width:1px;height:18px;background:#999; }

.login_box {
	background: none repeat scroll 0 0 rgb(220, 243, 235);/*#EDF5FF;*/
	border: 1px solid #ACC3E4;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
	float: right;
	margin-top: 15px;
	margin-right: 34px;
	padding: 20px;
	position: relative;
	width: 305px;
	height: 250px;
	z-index: 11;
}

.login_box h1 {
	color: #274571;
	margin:auto auto auto 17px;
	font-size: 16px;
	font-weight:bold;
}

.login_box .login_operate {
	padding: 20px;
	display: block;
}

.login_box .txt_default, .login_box .txt_dim {
	border-radius: 3px 3px 3px 3px;
	color: #8B9096;
	font-size: 14px;
	height: 34px;
	left: 1px;
	line-height: 34px;
	padding: 0 27px 0 6px;
	position: absolute;
	top: 6px;
	width: 250px;
}

.login_box .txt {
	-moz-transition: box-shadow 0.1s linear 0s;
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #9DADC5;
	border-radius: 3px 3px 3px 3px;
	color: #494949;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
	outline: medium none;
	padding: 0 4px;
	position: relative;
	width: 250px;
}


.login_box .login_btn {
	background: url(../image/login_button.jpg) no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 30px;
	width: 80px;
	float: left;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	color: #274571;
}
/*
.login_box .login_btn {
	background: none repeat-x scroll 0 0 #67A00D;
	border-color: #6B9F11 #54850A #386601;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	line-height: 25px;
	width: 82px;
	float: right;
}*/

.login_operate .username {
	height: 38px;
	padding: 5px 20px;
	position: relative;
}

.login_operate .login_choose {
	color: #274571;
	font-size: 12px;
}

.login_operate .username, .login_operate .password,
.login_operate .login_submit, .login_operate .login_choose, .login_operate .login_check {
	padding: 5px 0;
	position: relative;
	width: 250px;
}

#checkCode {
	background: rgb(247, 254, 236);
	width: 65px;
	color:#274571;
}

.info_box {
	height: 180px;
	overflow: hidden;
	padding: 50px 10px 0 15px;
}


#confirm {
	color: #FF0000;
	margin:auto auto auto 108px;
}

#footer
{
	padding: 5px;
	margin: 0;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
	background: rgb(232, 247, 242);
}
