html, body, p, h1, form {
    margin: 0;
    padding: 0;
}

body, input,div {
    font: 12px Verdana,Arial,Helvetica,sans-serif;
}

h1{
	font: 16px Verdana,Arial,Helvetica,sans-serif bold;
}

body {
    background: none repeat scroll 0 0 white;
}




